/* CSS declarations go here */
.sliders {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

textarea {
	border: 2px solid #2333E0;
	border-radius: 10px;
	height: 200px;
	width: 230px;
    margin-top: 140px;
    margin-left: 10px;
}

#container {
  display: block;
  margin-left: auto;
}

input {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 600px;
  height: 150px;
}

h1 {
  text-align: center;
}

#mytitle {
  //width: 84%;
  //margin: 0;
  //padding: 25px 85px;
  background: none;
  font-weight: 300;
  outline: none;
  border: none;
  font-size: 50px;
  text-align: center;
}

.button {
  border: 2px solid #fc0;
  display: block;
  margin-top: 0px;
  margin-left: 12px;
  margin-right: auto;
  width: 150px;
  //height: 40px;
  text-align: center;
  font-size: 120%;
  color: #c90;
  font-weight: bold;
  list-style: none;
  background-color: #ff9;
  -moz-border-radius-topleft: 8px;
  -webkit-border-top-left-radius: 8px;	
  -moz-border-radius-bottomright: 8px;
  -webkit-border-bottom-right-radius: 8px;
  -moz-border-radius-topright: 8px;
  -webkit-border-top-right-radius: 8px;	
  -moz-border-radius-bottomleft: 8px;
  -webkit-border-bottom-left-radius: 8px;
}

body {
  background-color: #FFE;
  padding-left: 150px;
}

#sidebar {
  font-family: 'Varela Round', sans-serif;
  font-color: rgb(0, 0, 0);
  width: 180px;
  position: fixed;
  left: 0px;
  top: 0px;
  bottom: 0px;
  //background-image:url('brushed.png');
  background-color: rgb(45, 45, 45);
  background-image: url('brushed.png');
  //  -webkit-gradient(linear, left top, left bottom, from(#111111), to(#555555));
  //background: none repeat scroll 0% 0% rgb(85, 85, 85);
}

.mymenu {
  display: inline-block;
  vertical-align: top;
}

#sidebar .menu {
  //color: rgb(190, 190, 190);
  width: 90%;
}

#sidebar .menu ul {
  
}

#sidebar .menu li {
  list-style: none;
  text-align: center;
  margin-right: 40px;
  font-size: 80%;

}

#sidebar #mytext {
  padding: 10px;
  width: 80%;
}

#sidebar a {
  border: medium none;
  padding: 0.6em 0px 0.6em 0.6em;
  padding-top: 10px;
  font-size: 150%;
}

.menu a {
  display: block;
  line-height: 1.5em;
  font-size: 150%;
  text-align: center;
}

